<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{title}}
        </title>
    </head>
    <body>
        <center>
            <h1>
                {{title}}
            </h1>
        </center>
        <p>
            <pre><code>{{json}}</code></pre>
        </p>
    </body>
    <!--
        vim: ft=html
    -->
</html>
